.main {
    text-align: center;
}
.tableArea {
    margin-bottom: 3rem !important;
}
.image-slider {
}

.imgSlider {
    width: 22%;
    position: relative;
    align-items: center;
    align-content: center;
}
