@media all and (min-width: 480px) {
  .Login {
    padding: 60px 0;
  }
  .Login form {
    margin: 0 auto;
    max-width: 320px;
  }
}

.inputClass {
  width: 98%;
  height: 20px;
}

Button {
  width: 100%;
  height: 30px;
}